@charset "UTF-8";

div#tv-radio{
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
}

audio#musica{
    display: block;
    position: relative;
    width: 300px;
    left: 573px;
    top: 490px;
}

video#filme{
    display: block;
    position: relative;
    left: 83px;
    top: 60px;
    width: 450px;
}